*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.component img{
    width: 130px;
}
.component{
    box-shadow: 0px 0px 5px rgb(173, 173, 173);
    width: 860px;
    display: flex;
    padding: 15px;
    gap: 15px;
}
.component__сontent{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 69%;
}
.component__main{
    box-shadow: 0px 0px 5px rgb(173, 173, 173);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}
.component__сontent__top{
    display: flex;
    gap: 15px;
    height: 190px;
}
.component__сontent__top div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgb(173, 173, 173);
}
.component h3{
    font-weight: 400;
    color: #61696E;
}
.component__сontent__bottom h2{
    text-align: center;
}
.component__сontent__top h1, .component__сontent__top h3,.component__main h2,.component__main h3{
    margin: 3px;
}
.component__сontent__top h1{
    color: #40B98B;
}
.component__сontent__top h3{
    color: #C6C2C4;
}
.component__сontent__bottom{
    padding: 17px 25px;
    box-shadow: 0px 0px 5px rgb(173, 173, 173);
}
.component__сontent__bottom h2{
    font-weight: 400;
}
.component__сontent__bottom p{
    color: #949698;
    font-weight: 500;
    text-align: justify;
}
.component__button{
    width: 180px;
    height: 35px;
    margin-top: 10px;
    border: none;
    border-radius: 0.5px;
    background-color: #37B686;
    color: white;
    font-size: 15px;
}